$font-color: #222;

html {
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  height: 60px;
}

.wrapper {
  max-width: 996px;
  margin: 0 auto;
}

.title {
  a:visited {
    color: $font-color;
  }
}

@import "typography";
